{% load static %}
<div class="page-header " >
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="my-0 mr-md-auto font-weight-normal">Pizza-BEST!!</h3>
  <nav class="my-2 my-md-0 mr-md-3">
<!--    <a class="p-2 text-dark" href="#">Features</a>-->
<!--    <a class="p-2 text-dark" href="#">Enterprise</a>-->
      <a href="/admin/"><img class="text-hide" src="{% static 'images/cog.png'%}" alt="Admin" > </a>
      <a href="{% url 'cart'%}"><img class="text-hide" src="{% static 'images/shopping_cart.png'%}" alt="Cart"></a>
      <a>({{ order.pizzas.all|length }})</a>
  </nav>
  <a href="{% url 'home'%}"> <img class="text-hide" src="{% static 'images/home2.png'%}" alt="Home"></a>
</div>
<!--    <header><a href="/" class="logo"><img src="{% static 'images/logo.png'%}" alt="Pizza"></a></header>-->
</div>